table{
    border: 2px solid black;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    max-width: 600px;
    max-height: 200px;

    
}
input[type="button"]{
    width: 50px;
    padding: 10px;
}
#size{
    width: 100%;
}
.btn.btn-danger{
    font-size: 16px;
}
