#header{
    background-color: #6D28D9;
    text-align: center;
    padding: 20px;
    height: auto;
    border: #F5F3FF;
    display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar{
    background-color: #2E1065;
    height: 1900px;
    width: 100px;
    position: absolute;
    font-size: 25px;
}
body{
    background-color: #F5F3FF;
}
#content{
    margin-left: 110px;
}
input[type="text"]{
    width: 1300px;       
    height: 60px;        
    font-size: 18px;     
    padding: 8px ;
    padding-left: 4px;  
    border: 2px solid #6D28D9;  
    border-radius: 4px;  
    outline: none;
}
input[type="date"]{
    width: 1300px;
    height: 45px;
    font-size: 18px;
    padding: 8px;
    border: 2px #6D28D9;
    border-radius: 4px;
    outline: none;
}
input[type="radio"]{
    width: 120px;
    padding: 4px;  
}
select[type="branch"]{
    width: 1300px;
    height: 45px;
    padding: 8px;
    border: 3px #6D28D9;
    border-radius: 4px;
}
textarea{
    width: 1300px;
    border: 2px solid #6D28D9;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px;
}
#container{
    display: flex;
}
h2{
    text-align: center;
    font-size: 40px;
    color:#4b1fb8;
}
b{
    text-align: center;
    font-size: 25px;
}
#header img{
    padding-left: 20px;
}
h1{
    font-size: 45px;
}
input[type="file"] {
  padding: 10px;
  border: 2px solid #4b1fb8;
  border-radius: 8px;
  width: 1300px;
  height: 45px;
  font-size: 18px;
  background-color: white;
}
