#header{
    background-color: rgb(239, 197, 119);
    text-align: center;
    color: azure;
    padding: 10px;
}
#sidebar{
    position: absolute;
    background-color: rgb(114, 248, 212);
    color: beige;
    height:calc(100vh - 150px);
    width: 100px;
}
#footer{
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: rgb(226, 198, 72);
    height: 50px;
}
#content{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.Bold{
    padding-left: 20px;
}