  body{
        background-color:aqua;
        margin: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        
      }
 table{
        border:2px solid red;
        background-color: aquamarine;
      }
 th,td{
        border:2px solid green;
      }
     