#keys{
    position: absolute;
    background-color: aqua;
    text-align: center;
    width: 100%; 
}
#uai{
    background-color: rgb(132, 200, 237);
    padding: 10px;
}
h3{
    text-align: center;
       background-color: rgb(4, 162, 230);
}
article{
    border: 2px  solid black;
    background-color: white;
}
section{
    background-color: rgb(4, 162, 230);
}
